@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cabeza {
    background-color:#820000;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.cabeza .logoYTitulo {
    display:inline-flex;
}

.logoCabeza {
    width: 65px;
    height: 90px;
}

.tituloCabeza {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-left: 15px;
    font-family: "Gilda Display", sans-serif;
    margin-top: 28px;
}

.cabeza ul {
    display: flex;
    flex-direction: row;
}

.cabeza ul li {
    margin: 20px;
}

.cabeza ul li a {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    padding: 10px;
}

/* .cabeza .iconoCarrito {
    color: white;
    width: 35px;
    height: 35px;
} */

.cabeza div button {
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: inherit;
    border: none;
}

.cabeza div button p {
    font-size: 24px;
}

.cabeza div button svg {
    width: 50px;
    height: 50px;
}

.App .background Header {
    background-color: whitesmoke;
}

.logo {
    width: 55px;
    height: 90px;
}

.titulo {
    font-weight: bold;
    font-size: 20px;
    color: rgb(17, 1, 1);
}

.tituloInicio {
    margin-bottom: 50px;
}

.parrafoInicio {
    margin-bottom: 50px;
}